In [15]:
import sqlite3


conn = sqlite3.connect('example.db')
c = conn.cursor()

# c.execute('''CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real)''')
# import cx_Oracle
con = cx_Oracle.connect('pythonhol/welcome@127.0.0.1/orcl')

In [18]:
c.execute("INSERT INTO stocks VALUES ('2019-01-05','Sell','AMAZON',50,35.14)")
conn.commit()

In [22]:
t = ('AMAZON',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

('2019-01-05', 'Sell', 'AMAZON', 50.0, 35.14)

In [25]:
c.execute('SELECT * FROM stocks WHERE symbol="AMAZON"')
print(c.fetchone())

('2019-01-05', 'Sell', 'AMAZON', 50.0, 35.14)

In [43]:
stockname = ['AMAZON','RHAT','GOOGLE','NIKE']
stockname[0]

# search_item=(stockname[0],)
c.execute('SELECT * FROM stocks WHERE symbol=? and trans=?',(stockname[1],'BUY'))
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [ ]:
stockname = ['AMAZON','RHAT','GOOGLE','NIKE']
stockname[0]

# search_item=(stockname[0],)
c.execute('SELECT * FROM stocks WHERE symbol=? and trans=?',(stockname[1],'BUY'))
print(c.fetchall())